.slideinright{
    animation-duration: 3s;
    animation-name: slideinright;
}
.slideinleft{
    animation-duration: 3s;
    animation-name: slideinleft;
}
.fadein{
    animation-duration: 8s;
    animation-name: fadein;
}
.wiggle:hover{
    animation: wiggle 2.5s infinite;
}
.pulse-teal {
  animation: pulse-animation-teal 2s infinite;
}

@keyframes pulse-animation-teal {
  0% {
    box-shadow: 0 0 0 0px rgba(8,148,140, 0.7);
  }
  100% {
    box-shadow: 0 0 0 30px rgba(0, 0, 0, 0);
  }
}

@keyframes slideinright {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
}
@keyframes slideinleft {
    from {
      margin-left: -100%;
      width: -300%;
    }
  
    to {
      margin-left: 0%;
      width: -100%;
    }
}
@keyframes fadein {
    from {
      opacity: 0%;
    }
  
    to {
      opacity: 100%;
    }
}

@keyframes wiggle {
    0% { transform: rotate(0deg); }
   20% { transform: rotate(0deg); }
   30% { transform: rotate(1deg); }
   40% { transform: rotate(-1deg); }
   50% { transform: rotate(0deg); }
   70% { transform: rotate(0deg); }
   80% { transform: rotate(1deg); }
   90% { transform: rotate(-1deg); }
  100% { transform: rotate(0deg); }
}
  