.slideinright{
    animation-duration: 3s;
    animation-name: slideinright;
}
.slideinleft{
    animation-duration: 3s;
    animation-name: slideinleft;
}
.fadein{
    animation-duration: 8s;
    animation-name: fadein;
}
.wiggle:hover{
    animation: wiggle 2.5s infinite;
}
.test{
    background-color: red;
    position: relative;
    animation-name: example;
    animation-duration: 4s;
    animation-direction: reverse;
}
@keyframes slideinright {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
}
@keyframes slideinleft {
    from {
      margin-left: -100%;
      width: -300%;
    }
  
    to {
      margin-left: 0%;
      width: -100%;
    }
}
@keyframes fadein {
    from {
      opacity: 0%;
    }
  
    to {
      opacity: 100%;
    }
}

.container {
    margin: 0 auto;
    font-family: arial;
    font-size: 24px;
    width: 80px;
    height: 80px;
}

@keyframes wiggle {
    0% { transform: rotate(0deg); }
   20% { transform: rotate(0deg); }
   30% { transform: rotate(1deg); }
   40% { transform: rotate(-1deg); }
   50% { transform: rotate(0deg); }
   70% { transform: rotate(0deg); }
   80% { transform: rotate(1deg); }
   90% { transform: rotate(-1deg); }
  100% { transform: rotate(0deg); }
}


  .lds-dual-ring {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    border: 6px solid #08948c;
    border-color: #08948c transparent #08948c transparent;
    animation: lds-dual-ring 1.2s reverse infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
      border-color: #08948c transparent #08948c transparent;
    }
    50% {
        transform: rotate(180deg);
        border-color: #08948c transparent #08948c transparent;
      }
    100% {
      transform: rotate(360deg);
      border-color: #911bc0 transparent #911bc0 transparent;
    }
  }
  