@import url("https://fonts.googleapis.com/css?family=Roboto");

body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif;}

h1 {font-size: 30px;}

.column {
    float: left;
    padding: 10px;
  }
  
.left, .right {
    width: 30%;
  }
  
.middle {
    width: 40%;
  }
  
.row:after {
    content: "";
    display: table;
  }

.container {
  margin: 0 auto;
  font-family: arial;
  font-size: 24px;
  width: 80px;
  height: 80px;
}